@import "~react-image-gallery/styles/css/image-gallery.css";

body {
  background-color: rgb(247 247 247);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a{
  cursor: pointer;
}



